.earn__top > h1 {
  font-size: 38px;
  color: white;
  margin-bottom: 8px;
}

.earn__top > p {
  font-size: 15px;
  color: #b7b7bd;
}

.earn__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.earn__card {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  border-radius: 8px;
  border: 1 px solid hsla(0, 0%, 100%, 0.0784313725490196);
  background: #151515;

  .earn__card__title {
    color: white;
  }

  .cardDivider {
    width: 100%;
    height: 1px;
    background: hsla(0, 0%, 100%, 0.0784313725490196);
    margin: 15px 0;
  }
}
