@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

li {
    list-style-type: none;
}

img{
    max-width: 100%;
    object-fit: contain;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: transparent;
}

body {
    background: #191919;
}

/* ROW && CONTAINER */

.row {
    width: 100%;
    max-width: 1340px;
    padding: 0 32px;
    margin: 0 auto;
}

.container {
    margin: 64px 0;
}

/*
     NAV
 */

.nav {
    margin: 0 auto;
    width: 100%;
    /* max-width: 1440px; */
    height: 62px ;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px hsla(0,0%,100%,0.1607843137254902);;
}

.nav__logo {
    width: 54px;
}

.nav__links  {
    display: flex;
    gap: 24px;
}

.nav__link > a {
    color: #a7a7a9;
    font-size: 15px;
}

.nav__link > a:active,
.nav__link > a:hover {
    color: #dddddd;
}

.nav__rightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.tradeBtn {
    /* Design */
    padding: 0 16px;
    height: 36px;
    background-color: #3EB489;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conectBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191919;
    color: white;
    font-size: 14px;
    border: 1px solid hsla(0,0%,100%,0.1607843137254902);
    padding: 0 14px;
    height: 36px;
    border-radius: 8px;
}

 .conectBtn > i {
    margin-right: 12px;
}

/*
    NETWORK
 */

.networkBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    padding: 0 4px;
    border: 1px solid hsla(0,0%,100%,0.1607843137254902);
    border-radius: 8px;
    background: #191919;
}

.networkimageContainer{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.threeDots {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 36px;
    height: 36px;
}

/*
    HEADER
 */

 .header__top__title {
    font-size: 58px;
    font-weight: 600;
    line-height: 70px;
    width: 100%;
    max-width: 600px;
    color: white;
 }

 .header__top__description {
    color: #cecece;
    width: 100%;
    max-width: 480px;
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0;
 }

 .header__topBtn {
    padding: 0 16px;
    height: 36px;
    border-radius: 4px;
    background: #3EB489;
    color: white;
 }

 /*
     STATS
  */

.header__stats {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.header__stat {
    display: flex;
    align-items: center;
    border: 1px solid hsla(0,0%,100%,.0784313725490196);
    box-shadow: 0 0.7rem 0.8rem rgba(0,0,0,.2);
    border-radius: 4px;
    padding: 26px 0;
    width: 100%;
    max-width: 390px;
}

.header__stat__ilustration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-right: 40px;
    margin-left: 16px;
}

.header__stat__description > p {
    font-size: 16px;
    color: #cecece;
}

.header__stat__description >  span {
    color: white;
    font-size: 30px;
}

/*
    FEATURES
*/

.allLine {
    border-top: 1px solid hsla(0,0%,100%,0.1607843137254902);
    border-bottom: 1px solid hsla(0,0%,100%,0.1607843137254902);
    width: 100%;
    margin-top: 128px;
}

.main__features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    flex-wrap: wrap;
    margin: 64px  0;
}

.main__feature__top {
    display: flex;
    align-items: center;
    gap: 4px;
}

.main__feature__top > p {
    color: white;
    font-size: 22px;
}

.main__feature__description {
    color: #cecece;
    font-size: 18px;
    width: 100%;
    max-width: 320px;
}

/* TOKEN */

.tokens{
    padding: 76px 0;
}

.tokens__title {
    font-size: 38px;
    font-weight: 600;
    width: 100%;
    max-width: 400px;
    color: white;
    margin-bottom: 32px ;
}

.token__cards {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.token__card {
    border: 1px solid hsla(0,0%,100%,.0784313725490196);
    box-shadow: 0 0.7rem 0.8rem rgba(0,0,0,.2);
    border-radius: 8px;
    background-color: #151515;
    width: 100%;
    max-width: 590px;
    padding: 24px;
}

.token__img {
    width: 40px;
}

.token__title {
    display: flex;
}

.token__title > span {
    color: white;
    font-size: 27px;
}

.token__card__description {
    font-size: 18px;
    color: white;
    margin-top: 25px;
}

.token__card__stats {
    font-size: 15px;
    color: #cecece;
    margin-top: 20px;
}

.token__card__btns {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 20px;
}

.token__card__btn--left {
    border-radius: 4px;
    background: #3EB489;
    color: white;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
}

.token__card__btn--left:hover {
    background: #207A59;
}

.token__card__btn--right {
    border: 1px solid #a7a7a9;
    border-radius: 4px;
    background-color: #151515;
    color: white;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
}

/*
    FOOTER
*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
    margin-top: 64px;
    background: #151515;
    border-top: 1px solid hsla(0,0%,100%,0.1607843137254902);
}

.footer__logo{
    width: 148px;
}


.footer__social__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 12px 0;
    gap: 72px;
}

.social {
    color: white;
    font-size: 24px;
}



.footer__legal {
    display: flex;
    gap: 16px;
    color: white;
    font-size: 15px;
    margin: 12px 0;
}

.footer__legal > a {
    color: white;
}


/*
     RESPONSIVITY
 */

@media screen and (max-width: 1024px){
    .nav__middle {
        display: none;
    }


    .header__stats{
        justify-content: center;
        gap: 22px;
    }


    .main__features {
        justify-content: center;
    }

    .tokens {
        display: flex;
        align-items: center;
    }
}

/* TABLETS */

@media screen and (max-width: 768px) {
    .header__top__title {
        font-size: 48px;
        width: 100%;
        max-width: 520px;
    }
}

@media screen and (max-width: 425px) {
    .nav__rightSide {
        gap: 4px;
    }
    .tokens {
        flex-direction: column;
    }

    .footer__social__links {
         gap: 28px;
    }

    .footer__legal {
        flex-direction: column;
        align-items: center;
    }
}
